@font-face {
  font-family: keepCalm;
  src: url("../../public/KeepCalm-Medium.ttf");
}

#hero {
  height: 100vh;
}

#hero #name {
  background-color: #cef;
  color: #8cd;
  font-size: 3px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero #name .line {
  background-color: transparent;
  color: #fff;
  position: absolute;
  width: 600px;
  height: 200px;
  top: 10%;
  left: 10%;
}

#hero #name .dec {
  position: absolute;
  top: 10%;
  left: 8%;
  height: 60%;
  width: 1px;
  background: #fff;
}

#hero #name .dec::before {
  position: absolute;
  top: 300px;
  left: -600px;
  width: 1000px;
  height: 300px;
  content: 'web design';
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 180px;
  font-weight: bolder;
}

#hero #name .dots {
  position: absolute;
  width: 700px;
  height: 40%;
  background-color: transparent;
  color: #fff;
  bottom: 25%;
  right: 5%;
}

#hero #name h1 {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 30%;
  font-family: 'keepCalm';
  color: #fff;
}

#hero #name p {
  font-size: 12px;
  position: absolute;
  top: 62%;
  left: 30%;
  font-family: 'keepCalm';
  color: #1E3273;
  padding-left: 6px;
}

#hero #name .title {
  position: absolute;
  top: 20%;
  right: 18%;
  height: 1100px;
  width: 1100px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#92b1eb), color-stop(65%, transparent));
  background: linear-gradient(180deg, #92b1eb 0%, transparent 65%);
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}

#hero #name .arrow {
  width: 100%;
  position: absolute;
  bottom: 5%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  animation: up-down 0.6s ease-in-out infinite alternate-reverse both;
}

#hero #name .arrow .fas {
  width: 18px;
  color: black;
  margin: auto;
  font-size: 24px;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
