#resume {
  background: white;
  text-align: center;
  padding: 80px;

  
  h2 {
    margin: 30px;
  }

  .row {
    width: 100%;
    padding: 50px 15%;
    text-align: left;

    .col-12 {
      margin: 20px 0;
    }
  }
}