#skill {
  padding: 80px;

  li {
    position: relative;
    margin: 0 20px;

    &::before {
      content:'' ;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #000;
      left: -15px;
      top: 40%;
    }
  }

  .block {
    position: absolute;
    bottom: -5px;
    right: 45%;
    width: 10%;
    height: 30px;
    background: #cef;
    transform: skewX(-20deg);
    z-index: -1;
  }
  h2 {
    text-align: center;
    margin-bottom: 90px;
    position: relative;
    z-index: 2;
    &::before {
      content: '//';
      position: absolute;
      top: 8px;
      left: 45%;
      font-size: 17px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      right: 45%;
      width: 10%;
      height: 30px;
      background: #cef;
      transform: skewX(-20deg);
      z-index: -1;
    }
  }

  h5 {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .row{
    width: 76%;
    margin: auto;
  }

  .col-12 {
    display: flex;
    justify-content: center;
  }
  
}